/**
 * Description:
 * Custom styles
 *
 * This file is part of submission
 * @author Richard Vogel <webdes87@gmail.com>
 */

body {
  background-image: url('../img/background.jpg');
  background-size: cover;

  table {
    background-color: #222222;
    opacity: 0.90;
  }
  .header {
    opacity: 0.92;
    background-size: cover;
  }
  .container {
    &.main {
      .table-device {
        .btn-device-add {
          width: 100%;
          font-size: 2em;
        }
      }
    }
  }

  // Some bug in bootbox that makes the shadow top-most oO
  .modal-backdrop.fade.in{
    + .modal-dialog {
      z-index:2000;
    }
  }

  footer {
    background-color: #222;
    opacity: 0.92;
    padding: 10px 5px;
  }
}
