<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>IT Talents Code Competition</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/jquery-1.11.2.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/bootbox.min.js"></script>
    <script src="js/app/app.helper.js"></script>
    <script src="js/app/app.module.js"></script>
    <script src="js/app/app.controller.js"></script>
    <script src="node_modules/underscore/underscore-min.js"></script>
</head>
<body data-ng-app="mom"  data-ng-controller="MachineCtrl">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="mailto:webdes87@gmail.com"><i class="fa fa-arrow-circle-right"></i> IT Talents Code competition <strong>Master of Monitoring</strong>, Einreicher Richard Vogel &lt;webdes87@gmail.com&gt;</a>
        </div>
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron header">
    <div class="container">
        <h1><i class="fa fa-desktop"></i> Monitoring-Oberfäche</h1>
        <p>Hier können Sie ihre Geräte verwalten.</p>
        <br />
        <form class="form-horizontal">
            <div class="form-group">
                <label class="label">
                    Ihr Benutzername:
                </label>
                <input type="text" class="form-control" data-ng-model="currentUser">
                <br />
                <span class="text text-warning">
                    <i class="fa fa-exclamation-circle text-warning"></i> &nbsp;Nur die Nutzer "admin", "mereep" und "the_one_who_pwned_us" können nicht lesende Aktionen ausführen
                </span>
            </div>
        </form>
    </div>
</div>

<div class="container main">
    <div class="row">
        <div class="col-md-12">
            <h2>Geräte</h2>
            <table class="table table-responsive table-bordered table-device">
                <thead>
                <th width="30%">
                    Device
                </th>
                <th width="15%">
                    Status
                </th>
                <th width="40%">
                    Befehle
                </th>
                <th>
                    Install
                </th>
                </thead>
                <tbody>
                <!-- DEVICES -->
                <tr data-ng-repeat-start="device in devices">
                    <td>
                        <div data-ng-bind="device.name + ' ('+device.startedBy+')'"></div><br />
                        <div data-ng-bind="'Läuft seit: ' + getTime(device.startTime)"></div>
                        <div data-ng-bind="'IP: '+device.ip"></div>
                    </td>
                    <td>
                       <span data-ng-if="device.state === 'online'">
                           <i class="fa fa-circle text-success"></i> <span class="text-success">Online</span>
                       </span>
                       <span data-ng-if="device.state === 'offline'">
                           <i class="fa fa-circle text-danger"></i> <span class="text-danger">Offline</span>
                       </span>
                       <span data-ng-if="device.state === 'rebooting'">
                           <i class="fa fa-refresh fa-spin text-warning"></i> <span class="text-warning">Rebooting</span>
                       </span>
                    </td>
                    <td>
                        <button class="btm btn-default"
                                data-ng-click="reboot(device)"
                                data-ng-disabled="!isRebootAllowed(device)">
                            <i class="fa fa-refresh"></i> Reboot device
                        </button>
                    </td>
                    <td>
                        <a href="#" data-ng-click="newContainer(device.ip)">Container hinzufügen</a>
                    </td>
                </tr>
                <tr data-ng-repeat-end>
                    <td colspan="4">
                        <!-- Containers -->
                        <table class="table table-responsive table-container">
                            <tr data-ng-repeat="container in device.containers">
                                <td width="30%">
                                    <span data-ng-bind="container.name"></span> (<span data-ng-bind="container.startedBy"></span>)<br />
                                    <i data-ng-bind="getTime(container.startTime)"></i>
                                </td>
                                <td width="15%">
                                    <span class="text-warning" data-ng-if="container.state === 'off'">
                                        <i class="fa fa-dot"> Off</i>
                                    </span>
                                    <span class="text-success" data-ng-if="container.state === 'on'">
                                        <i class="fa fa-dot"> On</i>
                                    </span>
                                </td>
                                <td class="container-events" width="40%">
                                    <!-- Only display if device is on -->
                                    <span data-ng-if="device.state === 'online'">
                                        <a href="#"
                                           title="Container Status ändern"
                                           data-ng-click="toggleContainerState(device.ip, container.name)">
                                        <span data-ng-if="container.state === 'off'">Starten</span>
                                        <span data-ng-if="container.state === 'on'">Stoppen</span>
                                        </a> |
                                        <a title="Container löschen"
                                           href="#"
                                           data-ng-click="deleteContainer(device.ip, container.name)">
                                            Container löschen
                                        </a>
                                    </span>

                                </td>
                                <td>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <td colspan="4">
                    <button class="btn-device-add btn btn-primary" data-ng-click="addDevice()">
                        <i class="fa fa-plus-circle text-success"></i> Gerät hinzufügen
                    </button>
                </td>
                </tfoot>
            </table>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; rivoWeb 2016</p>
    </footer>
</div>
</body>
</html>
